<header>
    <nav>
        <div class="brandd"><h3>Weather</h3></div>
        <div class="options">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/weather">Weather</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>

    </nav>
</header>