<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include("../partials/navbar")-%>
    <section>
        <div class="hero">
            <div class="heroImages">
                <img src="./images/bg2.jpg" alt="">
            </div>
            <div class="herocontent">
                <div class="herotext">
                <h1>Hello Im Puskar Roy</h1>
                <p>A <span class="heroSpan">Computer Science And Engineering</span> Student At UIT,BU .</p>
                 </div>
                 
                <button class="btnn"><a href="/weather">Check Now!</a></button>
            </div>
        </div>
    </section>
    <%- include("../partials/footer")-%>
</body>
</html>