<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include("../partials/navbar")-%>

    <section class="err_section">
    <div class="err">
        <div class="err_imagee">
            <img src="./images/bg4.jpg" alt="">

        </div>
        <div class="err_content">
            <h1>Oops! This Page Is Not Available.</h1>
        </div>
    </div>
    </section>
</body>
</html>